[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

{% if cookiecutter.python_requires != '0.0' -%}
[requires]
python_version = "{{ cookiecutter.python_requires }}"
{% endif %}
[packages]
{% if cookiecutter.cli.lower() == 'y' or cookiecutter.cli.lower() == 'yes' -%}
click = "*"
{% endif %}

[dev-packages]
click = "*"
"zest.releaser" = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
tox = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-programoutput = "*"
wheel = "*"
flake8 = "*"
mccabe = "*"
pep8-naming = "*"
flake8-todo = "*"
flake8-author = "*"
flake8-copyright = "*"
flake8-docstrings = "*"
flake8-coding = "*"
flake8-debugger = "*"
flake8-comprehensions = "*"
flake8-isort = "*"
flake8-sorted-keys = "*"
pip-review = "*"
ipdb = "*"
ipython = "*"
autopep8 = "*"
yapf = "*"
isort = "*"

fabric3 = "*"
